*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: #123456;
}
#contaner{
    width: 95%;
    height: 95vh;
    background-image: linear-gradient(0deg,rgb(0, 0, 0)10%,#123456 70% 100%);
    border-radius: 10px;
    margin: auto;
   overflow: hidden;
}
#head{
    width: 95%;
    display: flex;
    justify-items: flex-start;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap:10px;
    background-image: linear-gradient(45deg,#123456,black);
    border-top-right-radius: 10%;
    border-radius: 90px 90px 00% 0%;
    background-size: 200% 200%;
    animation: stalat 10s linear infinite;
    transition: 2s;
}
#salwat{
     background-size: 200% 200%;
    animation: stalat 4s linear infinite;
    transition: 2s;
    display: flex;
    justify-content:space-between;
    padding: 5px;
    background-image: linear-gradient(045deg,rgb(0, 0, 0)10%,#123456 70% 100%);
    height: 80%;
}
.salat{
    width: 15%;
    height: 300px;
    border: #123456 3px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background-image: linear-gradient(45deg,#123456,black);
  
}
.time-salat{
    font-size: 40px;
    height: 60%;
}
.titel{
    width: 90%;
    height: 30%;  
    color: rgb(187, 185, 185);
    text-align: center;
    justify-content: center;
    border-radius: 8px;
}
@keyframes stalat {
    0%{
        background-position: 0% 50%;
 
    }  
    25%{
        background-position: 50% 50%;

    }
    
    50%{
        background-position: 100% 50%;
 
    } 
    75%{
        background-position: 50% 50%;
    }  100%{
        background-position: 0% 50%;
 
    }
}